
<div class="container">
  <!--Footer-->
  <footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
      <div class="row">

        <!--First column-->
        <div class="col-md-2">
          <h6 class="text-secondary">Developed by Frikkin Genius</h6>
          <img class="img-fluid max-width:auto" src="{{ url_for('static', filename='img/188530490_256.jpg') }}">
        </div>
        <div class="col-md-10">
          <h2 class="text-secondary">About EVE Production Manager</h2>
          <p class="text-muted">This project is strictly for fun so I can learn new web stack development skills. I do NOT intend on making frequent updates, bug fixes, or version upgrades. Feel free to use this site. If you have found EVE Production Manager to be of use, please send an in-game ISK donations to Frikkin Genius. Thanks!
        <!--/.First column-->

      </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      © 2019 Copyright: Mrchips.XYZ
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
</div>
