<div class="container" id = "main">

  <div class="container" id="upperNav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/"><b>EVE Production Manager</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#builderModal">
          {% if session.logged_in %}
            {{session.name}}
          {% else %}
            Builder not logged in
          {% endif %}
        </button>
        {% if session.logged_in %}
          <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Character/{{session.myUser_id}}_32.jpg">
        {% else %}
          <img class="img-fluid" width="40" src="{{ url_for('static', filename='img/74_64_13.png') }}"></img>
        {% endif %}
        <!-- End Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="builderModal" tabindex="-1" role="dialog" aria-labelledby="builderModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="builderModalLabel">Builder Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if 'myUser_id' in session %}
                <table class="table-responsive">
                <tbody>
                  <tr class="noborder">
                    <td rowspan="1" colspan="1" class="text-center"> <strong>Builder: </strong>{{session.name}}</td>
                  </tr>
                  <tr class="noborder">
                    <td rowspan="4"> <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Character/{{session.myUser_id}}_256.jpg"> </td>
                    <td class="text-right"><strong>ID:</td>
                    <td>{{session.myUser_id}}</td>
                  </tr>
                  <tr class="noborder">
                    <td class="text-right"><strong>Corp:</td>
                    <td>{{session.corp_name}}</td>
                  </tr>
                  <tr class="noborder">
                    <td class="text-center" colspan="2"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Corporation/{{session.corp_id}}_128.png"></td>
                  </tr>
                  <tr class="noborder">
                    <td class="text-right"><strong>Wallet:</td>
                    {% if 'wallet_balance' in session and session.wallet_balance is number %}
                      <td>{{ "{:,.0f}".format(session.wallet_balance) }} isk</td>
                    {% else %}
                      <td>--</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td colspan="2"> &nbsp; <td>
                  </tr>
                  </tbody>
                </table>

                  <a class="btn btn-primary" href="/fetch_assets">Fetch Current Assets On Hand</a>
                  <a class="btn btn-secondary" href="/logout">Logout</a>
                {% else %}
                <form method="GET" action="https://login.eveonline.com/oauth/authorize">
                  <h2 class="text-success"><input type="image" src="{{ url_for('static', filename='img/eve-sso-login-black-small.png') }}">
                  </h2>
                  <input type="hidden" name="response_type" value="code">
                  <input type="hidden" name="redirect_uri" value="http://catfish.eastus.cloudapp.azure.com/login">
                  <input type="hidden" name="client_id" value="353666b5e6d44a439878c514e45f82b0">
                  <input type="hidden" name="scope" value="esi-wallet.read_character_wallet.v1 esi-search.search_structures.v1 esi-universe.read_structures.v1 esi-assets.read_assets.v1 esi-fittings.read_fittings.v1 esi-markets.structure_markets.v1 esi-industry.read_character_jobs.v1 esi-markets.read_character_orders.v1 esi-characters.read_blueprints.v1 esi-contracts.read_character_contracts.v1">
                  <input type="hidden" name="state" value="epm101">
                </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->

        <ul class="navbar-nav ml-auto">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#optionModal">
            Options
          </button>
          <!-- End Button trigger modal -->
          <!-- Modal -->
          <div class="modal fade" id="optionModal" tabindex="-1" role="dialog" aria-labelledby="optionModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="optionModalLabel">Options</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form" action="{{ url_for('options')}}" method="POST">
                    <div class="form-row">
                    <label for="home_station_id" class="col-form-label text-black pr-1"><strong>Home Station:</strong></label>
                      <input type="text" class="form-control text-center" id="home_station_id" name="home_station_id" value="{{session['home_station_id']}}" style="width: 175px;">
                    </div>
                    <div class="form-row">
                    <label for="structure_role_bonus" class="col-form-label text-black pr-1"><strong>Structure Role Bonus:</strong></label>
                      <input type="text" class="form-control text-center" id="structure_role_bonus" name="structure_role_bonus" value="{{session['structure_role_bonus']}}" style="width: 75px;">
                    </div>
                    <div class="form-row">
                    <label for="default_bp_me" class="col-form-label text-black pr-1"><strong>Default Blueprint Material Efficiency:</strong></label>
                      <input type="text" class="form-control text-center" id="default_bp_me" name="default_bp_me" value="{{session['default_bp_me']}}" style="width: 75px;">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                    </form>
              </div>
            </div>
          </div>
          <!-- End Modal -->

        </ul>
      </div>
    </div> <!-- upper nav -->

    <div class="container" id="mainMenu">
      <!-- <span class="border border-dark"> -->
        <nav class="navbar navbar-expand-md navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarMainMenu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="btn btn-secondary" href="/invent">Invent</a></li>
              <li>..</li>
              <li class="nav-item"><a class="btn btn-secondary" href="/build">Build</a></li>
              <li>..</li>
              <li class="nav-item"><a class="btn btn-secondary" href="/bom">B.O.M.
                <span class="badge badge-light"></span></a></li>
                <li>..</li>
                <li class="nav-item"><a class="btn btn-secondary" href="/pipeline">Pipeline
                  <span class="badge badge-light"></span></a></li>
                  <li>..</li>
                  <li class="nav-item"><a class="btn btn-info" href="/fittings">Ship Fittings</a></li>
                  <li>..</li>
                  <li class="nav-item"><a class="btn btn-success" href="/financial">Financial Report</a></li>
                  <li>..</li>
                  <li class="nav-item"><a class="btn btn-danger" href="/mining">Mining Calculator</a></li>

                </ul>
              </div>
            </nav>
        <!--  </span> -->
        </div> <!-- Mian Menu -->

      </div><!-- /.main -->
