{% extends 'layout.html' %}
{% block body %}

<div class="row px-0" id="row1">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-success">
        <h3 class="mx-auto text-white">Financial Report</h3>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
        <div class="col-12">
          <form>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="text-right noBorder" colspan="2">Date Range:</td>
                  <td class="noBorder"><strong>3/1/2018</strong> to <strong>3/31/2018</strong>
                    <a href="#"><</a> - <a href="#">></a>
                  </td>
                  <td class="noBorder"><input name="fetch" class="btn-sm btn-primary" type="button" value="Fetch Journal Transactions"></td>
                </tr>
                <tr>
                  <td class="text-center noBorder py-0" colspan="2"><h5>Total Expenses</h5></td>
                  <td class="text-center noBorder py-0" colspan="2"><h5>Total Income</h5></td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Transaction Taxes</td>
                  <td class="noBorder py-0">24,828,554</td>
                  <td class="text-right noBorder py-0">Money Received</td>
                  <td class="noBorder py-0">800,000,000</td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Broker Fees</td>
                  <td class="noBorder py-0">67,408,729</td>
                  <td class="text-right noBorder py-0">Sales</td>
                  <td class="noBorder py-0">1,904,976,123</td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Planetary Interaction Taxes</td>
                  <td class="noBorder py-0">0</td>
                  <td class="text-right noBorder py-0">Bounties</td>
                  <td class="noBorder py-0">1,556,700</td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Money Donated</td>
                  <td class="noBorder py-0">400,000,000</td>
                  <td class="text-right noBorder py-0">Contract Sales</td>
                  <td class="noBorder py-0">30,000,000</td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Purchases</td>
                  <td class="noBorder py-0">468,880,099</td>
                  <td class="text-right noBorder py-0">Insurance Payout</td>
                  <td class="noBorder py-0">0</td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Contract Buys</td>
                  <td class="noBorder py-0">0</td>
                  <td class="text-right noBorder py-0"></td>
                  <td class="noBorder py-0"></td>
                </tr>
                <tr>
                  <td class="text-right noBorder py-0">Insurance Fees</td>
                  <td class="noBorder py-0">0</td>
                  <td class="text-right noBorder py-0"></td>
                  <td class="noBorder py-0"></td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
          <h5 class="text-center col-sm-12 text-success">
            Profit/Loss: +1,919,800,101 ISK
          </h5>
      </li>
    </ul>
  </div>
</div>


</div> <!-- main -->
{% endblock %}
