{% extends 'layout_fittings.html' %}
{% block body %}

<div class="row px-0" id="row0">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-info">
        <h3 class="mx-auto text-white">Fitted Ship Builder</h3>

        {% if myFittingsCount > 1 %}
        <form action="{{ url_for('fittings')}}" method="POST">
          <button class="btn btn" type="submit" name="action" value="prev">
          <i class="fas fa-angle-left" title="Previous Ship Fitting"></i></button>..

          <button class="btn btn" type="submit" name="action" value="next">
          <i class="fas fa-angle-right" title="Next Ship Fitting"></i></button>

          <input type="hidden" name="build_id" value="{{build_id}}">
          <input type="hidden" name="ship_id" value="{{ship_id}}">
          <input type="hidden" name="fittingIndex" value="{{fittingIndex}}">
        </form>
        {% endif %}
      </li>

        <form action="{{ url_for('fittings')}}" method="POST" class="mx-auto">
        <div class="form-inline">
          <select name="fitting_selection" class="form-control">
            {% if fitting_list %}
              {% for item in fitting_list %}
                <option value="{{item.build_id}}">{{item.name}}</option>
                {% endfor %}
              {% else %}
                <option value="0">-- No Fittings --</option>
              {% endif %}
          </select>

        {% if fitting_list %}
          <input name="import" class="btn btn-primary" type="submit" value="<-Import Fitting">
        {% else %}
          <input name="fetch" class="btn btn-primary" type="submit" value="<-Fetch Fitting List">
        {% endif %}
        &nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="/fetch_fittings">Import All Fittings</a>
        </div>
        </form>

      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
        <div class="col-12">
          <form action="{{ url_for('fittings')}}" method="POST">
          <table class="table-responsive">
          <tbody>
            <tr class="noborder">
              <td rowspan="2">
                {% if myFittingsCount > 0 and newBuild != True %}
                  <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Render/{{myFittings[fittingIndex].ship_id}}_128.png">
                {% elif ship_id > 0 %}
                  <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Render/{{ship_id}}_128.png">
                {% else %}
                  <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Render/670_128.png">
                {% endif %}
              </td>

              <td>
                <label class="pt-2 pl-3" for="ship">Ship to Build:</label>
              </td>
              <td>
                <select name="ship_id" id="ship" class="form-control" style="max-width: 300px;">
                  {% if myFittingsCount > 0 and newBuild != True   %}
                    <option selected value="{{myFittings[fittingIndex].ship_id}}">{{myFittings[fittingIndex].ship_name}}</option>
                  {% elif ship_id > 0 %}
                    <option selected value="{{ship_id}}">{{ship_name}}</option>
                  {% else %}
                    <option selected value="0">Choose...</option>
                  {% endif %}
                  {% for ship in ships %}
                    <option value="{{ ship.id }}">{{ ship.ship }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <label for="fitting_name" class="col-form-label text-black pl-5">Name: </strong></label>
              </td>
              <td>
                {% if myFittingsCount > 0 and newBuild != True  %}
                  <input type="text" size="1" class="form-control" id="fitting_name" name="fitting_name" value="{{ myFittings[fittingIndex].fitting_name }}" style="width: 200px;">
                {% else %}
                  <input type="text" size="1" class="form-control" id="fitting_name" name="fitting_name" value="" style="width: 200px;">
                {% endif %}
              </td>

              <td>
                <label class="pt-2" for="qty">QTY:</label>
              </td>
              <td>
                  {% if myFittingsCount > 0 and newBuild != True  %}
                    <input type="text" class="form-control" name="qty" value="{{myFittings[fittingIndex].qty}}" size="1">
                  {% else %}
                    <input type="text" class="form-control" name="qty" value="1" size="1">
                  {% endif %}
              </td>

            </tr>
            <tr>
              <td>
                <label class="px-1" for="contract">Contract Price:</label>
              </td>
              <td>
                  {% if myFittingsCount > 0 and newBuild != True   %}
                    <input type="text" class="form-control" name="contract_sell_price" value="{{ "{:,.0f}".format(myFittings[fittingIndex].contract_sell_price) }}" style="width: 200px;">
                  {% else %}
                    <input type="text" class="form-control" name="contract_sell_price" value="0" style="width: 200px;">
                  {% endif %}
                </td>

                <td>
                  &nbsp; &nbsp; &nbsp;
                  {% if myFittingsCount > 0 and newBuild != True  %}
                    {% if myFittings[fittingIndex].rollup == 1 %}
                      <input class="form-check-input" type="checkbox" name="rollup" checked>
                    {% else %}
                      <input class="form-check-input" type="checkbox" name="rollup">
                    {% endif %}
                  {% else %}
                    <input class="form-check-input" type="checkbox" name="rollup">
                  {% endif %}
                  <label class="form-check-label" for="rollup">Rollup?</label>
                </td>
                <td colspan="3" class="text-center">

                  {% if myFittingsCount > 0 and newBuild != True %}
                    <button class="btn btn" type="submit" name="action" value="edit">
                      <i class="fas fa-pencil-alt" title="Edit This Fitting"></i></button>
                    <button class="btn btn" type="submit" name="action" value="delete">
                      <i class="fas fa-trash-alt" title="Delete This Fitting"></i></button>
                    <button class="btn btn" type="submit" name="action" value="new">
                      <i class="fas fa-plus-square" title="Add New Fitting"></i></button>
                  {% elif ship_id > 0 %}
                    <button class="btn btn" type="submit" name="action" value="edit">
                    <i class="fas fa-pencil-alt" title="Edit This Fitting"></i></button>
                    <button class="btn btn" type="submit" name="action" value="new">
                    <i class="fas fa-plus-square" title="Add New Fitting"></i></button>
                  {% else %}
                    <button class="btn btn" type="submit" name="action" value="new">
                      <i class="fas fa-plus-square" title="Add New Fitting"></i></button>
                  {% endif %}

              </td>
            </tr>
          </tbody>
            </table>




            <div class="form" id="row2">
              <table class="table table-light">
                <tbody>
                  <tr>
                    <td class="noBorder text-center "><strong>High Slots</td>
                    <td class="noBorder text-center "><strong>Medium Slots</td>
                    <td class="noBorder text-center "><strong>Low Slots</td>
                  </tr>
                  <tr>
                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id > 0 and num_highslots > 0%}
                          {% for n in range(1, num_highslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select id="hi{{n}}" name="hi{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsHigh %}
                                    {% if myFittingsHigh[n-1].component_id > 0 %}
                                      <option selected value="{{myFittingsHigh[n-1].component_id}}">{{myFittingsHigh[n-1].component}}</option>
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in high_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 and num_medslots > 0 %}
                          {% for n in range(1, num_medslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select id="med{{n}}" name="med{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsMed %}
                                    {% if myFittingsMed[n-1].component_id > 0 %}
                                    <option selected value="{{myFittingsMed[n-1].component_id}}">{{myFittingsMed[n-1].component}}</option>
                                    {% else %}
                                    <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in med_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 and num_lowslots > 0 %}
                          {% for n in range(1, num_lowslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select id="low{{n}}" name="low{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsLow %}
                                    {% if myFittingsLow[n-1].component_id > 0 %}
                                    <option selected value="{{myFittingsLow[n-1].component_id}}">{{myFittingsLow[n-1].component}}</option>
                                    {% else %}
                                    <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in low_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td class="text-center "><strong>Rig Slots</td>
                    <td class="text-center "><strong>Ammo</td>
                    <td class="text-center "><strong>Drones</td>
                  </tr>

                  <tr>
                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 and num_rigslots > 0%}
                          {% for n in range(1, num_rigslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select id="rig{{n}}" name="rig{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsRig %}
                                    {% if myFittingsRig[n-1].component_id > 0 %}
                                    <option selected value="{{myFittingsRig[n-1].component_id}}">{{myFittingsRig[n-1].component}}</option>
                                    {% else %}
                                    <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in rig_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>

                      <table class="table table-light">
                          <tbody>
                              <tr>
                                  <td class="text-center bg-white"><strong>Tech3 Slots</td>
                              </tr>
                            {% if ship_id >0 %}
                            {% for n in range(1, 5) %}
                            <tr>
                                <td class="noBorder py-0 bg-white">
                                  <select id="tech3{{n}}" name="tech3{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                    {% if myFittingsTech3 %}
                                      {% if myFittingsTech3[n-1].component_id > 0 %}
                                        <option selected value="{{myFittingsTech3[n-1].component_id}}">{{myFittingsTech3[n-1].component}}</option>
                                      {% else %}
                                        <option selected value="0">Choose...</option>
                                      {% endif %}
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                    {% for module in tech3 %}
                                      <option value="{{module.id}}">{{module.item}}</option>
                                    {% endfor %}
                                    <option value="0">--</option>
                                  </select>
                                </td>
                              </tr>
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>

                    </td>                

                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, 13) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select id="ammo{{n}}" name="ammo{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsAmmo %}
                                    {% if myFittingsAmmo[n-1].component_id > 0 %}
                                      <option selected value="{{myFittingsAmmo[n-1].component_id}}">{{myFittingsAmmo[n-1].component}}</option>
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in ammos %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                              <td class="noBorder py-0 bg-white">
                                {% if myFittingsAmmo %}
                                  {% if myFittingsAmmo[n-1].component_id > 0 %}
                                    <input type="text" name="ammo_qty{{n}}" value="{{myFittingsAmmo[n-1].component_qty}}" size="2">
                                  {% else %}
                                    <input type="text" name="ammo_qty{{n}}" value="0" size="2">
                                  {% endif %}
                                {% else %}
                                  <input type="text" name="ammo_qty{{n}}" value="0" size="2">
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, 13) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select id="drone{{n}}" name="drone{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsDrone %}
                                    {% if myFittingsDrone[n-1].component_id > 0 %}
                                      <option selected value="{{myFittingsDrone[n-1].component_id}}">{{myFittingsDrone[n-1].component}}</option>
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in drones %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                    <option value="0">--</option>
                                </select>
                              </td>
                              <td class="noBorder py-0 bg-white">
                                {% if myFittingsDrone %}
                                  {% if myFittingsDrone[n-1].component_id > 0 %}
                                    <input type="text" name="drone_qty{{n}}" value="{{myFittingsDrone[n-1].component_qty}}" size="2">
                                  {% else %}
                                    <input type="text" name="drone_qty{{n}}" value="0" size="2">
                                  {% endif %}
                                {% else %}
                                  <input type="text" name="drone_qty{{n}}" value="0" size="2">
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <input type="hidden" name="build_id" value="{{build_id}}">Build # {{build_id}}
                  <input type="hidden" name="fittingIndex" value="{{fittingIndex}}">
                  <input type="hidden" name="newBuild" value="{{newBuild}}">
                  </form>
                  <tr>
                    {% if myFittingsCount > 0  %}
                      <td class="text-center"><h4 class="text-danger"><strong>Cost of Production:</h4><h5>{{ "{:,.0f}".format(fittingCost) }}</td>
                      <td class="text-center"><h4 class="text-success"><strong>Contract Value:</h4><h5>{{ "{:,.0f}".format(myFittings[fittingIndex].qty * myFittings[fittingIndex].contract_sell_price) }}</td>
                      <td class="text-center"><h4 class="text-secondary"><strong>Profit Margin:</h4><h5> {{ "{:.2%}".format(fittingPM) }}</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>

              <div class="row px-0" id="row1">
                <div class="col">
                  <ul class="list-group mb-1">
                    <li class="list-group-item d-flex justify-content-between lh-condensed py-0 bg-success">
                      <h4 class="mx-auto text-warning">Products to Purchase</h4>
                    </li>
                    <li class="list-group-item py-0">
                        <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col"></th>
                              <th scope="col">Material</th>
                              <th scope="col">QTY</th>
                              <th scope="col"><center>Jita Buy Price</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for item in nonBuildablefittingRollup %}
                              <tr>
                                <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{ item.id }}_32.png"></th>
                                <td colspan="2">{{ item.component }}</td>
                                <td> {{ "{:,.0f}".format(item.component_qty * item.qty) }} </td>
                                <td><p class="mt-0 text-center">{{ "{:,.0f}".format(item.component_cost * item.qty * item.component_qty) }}</p></td>
                              </tr>
                              {% endfor %}
                                <tr align="center">
                                  {% if nonBuildablefittingRollup %}
                                  <td class="table-active" colspan="7"><h5>Commodity Total: {{ "{:,.0f}".format(nonBuildableTotal) }}</h5></td>
                                  {% endif %}
                                </tr>
                          </tbody>
                        </table>
                      </li>
                  </div> <!-- col -->

                  <div class="col">
                    <ul class="list-group mb-1">
                      <li class="list-group-item d-flex justify-content-between lh-condensed py-0 bg-success">
                        <h4 class="mx-auto text-warning">Buildable Products</h4>
                      </li>
                      <li class="list-group-item py-0">
                          <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Material</th>
                                <th scope="col">QTY</th>
                                <th scope="col"><center>Jita Buy Price</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in buildablefittingRollup %}
                              <tr>
                                <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.id}}_32.png"></th>
                                <td colspan="2"><p class="mt-1">{{ item.component }}</p></td>
                                <td> {{ "{:,.0f}".format(item.component_qty * item.qty) }} </td>
                                <td><p class="mt-0 text-center">{{ "{:,.0f}".format(item.component_cost * item.qty * item.component_qty) }}</p></td>
                              </tr>
                              {% endfor %}
                              <tr align="center">
                                {% if buildablefittingRollup %}
                                <td class="table-active" colspan="7"><h5>Buildable Products Total: {{ "{:,.0f}".format(buildableTotal) }}</h5></td>
                                {% endif %}
                              </tr>
                              <tr align="center">
                                  <form action="{{ url_for('fittings')}}" method="POST">
                                    <td class="table-active" colspan="7"><input name="build" class="btn-sm btn-info" type="submit" value="Add All to Build Pipeline"></td>
                                  </form>
                                </tr>
                            </tbody>
                          </table>
                      </li>
                    </div>
                  </div>

            </div><!-- row2 -->

        </div> <!-- col-12 -->
      </li>
    </ul>
  </div>
</div>


</div> <!-- main -->
{% endblock %}
