{% extends 'layout.html' %}
{% block body %}

<div class="row px-0" id="row0">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-info">
        <h3 class="mx-auto text-white">Fitted Ship Builder</h3>
        <input name="fetch" class="btn-sm btn-primary mt-0" type="button" value="<">..
        <input name="fetch" class="btn-sm btn-primary mt-0" type="button" value=">">
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
        <div class="col-12">
          <form action="{{ url_for('fittings')}}" method="POST">
            <div class="form-inline" id="row1">
              <div class="form-group pr-1">
                {% if myFittingsCount > 0 %}
                  <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Render/{{myFittings[fittingIndex].ship_id}}_128.png">
                {% elif ship_id > 0 %}
                  <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Render/{{ship_id}}_128.png">
                {% else %}
                  <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/Render/670_128.png">
                {% endif %}
              </div>
              <label class="px-1" for="ship">Ship to Build:</label>
              <div class="form-group">
                <select name="ship_id" id="ship" class="form-control" style="max-width: 300px;">
                  {% if myFittingsCount > 0 %}
                    <option selected value="{{myFittings[0].ship_id}}">{{myFittings[fittingIndex].ship_name}}</option>
                  {% elif ship_id > 0 %}
                    <option selected value="{{ship_id}}">{{ship_name}}</option>
                  {% else %}
                    <option selected value="0">Choose...</option>
                  {% endif %}
                  {% for ship in ships %}
                    <option value="{{ ship.id }}">{{ ship.ship }}</option>
                  {% endfor %}
                </select>
              </div>
                <label class="px-1" for="qty">QTY:</label>
                <div class="form-inline">
                  {% if myFittingsCount > 0 %}
                    <input type="text" class="form-control" name="qty" value="{{myFittings[fittingIndex].qty}}" size="1">
                  {% else %}
                    <input type="text" class="form-control" name="qty" value="1" size="1">
                  {% endif %}
                </div>
                <label class="px-1" for="contract">Contract Price:</label>
                <div class="form-inline pr-1">
                  {% if myFittingsCount > 0 %}
                    <input type="text" class="form-control" name="contract_sell_price" value="{{ "{:,.0f}".format(myFittings[fittingIndex].contract_sell_price) }}" style="width: 150px;">
                  {% else %}
                    <input type="text" class="form-control" name="contract_sell_price" value="0" style="width: 150px;">
                  {% endif %}
                </div>
                <div class="form-inline form-check px-1">
                  {% if myFittingsCount > 0 %}
                    {% if myFittings[fittingIndex].rollup == 1 %}
                      <input class="form-check-input" type="checkbox" name="rollup" checked>
                    {% else %}
                      <input class="form-check-input" type="checkbox" name="rollup">
                    {% endif %}
                  {% else %}
                    <input class="form-check-input" type="checkbox" name="rollup">
                  {% endif %}
                  <label class="form-check-label" for="rollup">Rollup?</label>
                </div>
                <div class="form-inline pr-1">
                  {% if myFittingsCount > 0 %}
                    <button class="btn btn" type="submit" name="action" value="edit">
                      <i class="fas fa-pencil-alt" title="Edit This Fitting"></i></button>
                    <button class="btn btn" type="submit" name="action" value="delete">
                      <i class="fas fa-trash-alt" title="Delete This Fitting"></i></button>
                    <button class="btn btn" type="submit" name="action" value="new">
                      <i class="fas fa-plus-square" title="Add New Fitting"></i></button>
                  {% elif ship_id > 0 %}
                    <button class="btn btn" type="submit" name="action" value="edit">
                    <i class="fas fa-pencil-alt" title="Edit This Fitting"></i></button>
                    <button class="btn btn" type="submit" name="action" value="new">
                    <i class="fas fa-plus-square" title="Add New Fitting"></i></button>
                  {% else %}
                    <button class="btn btn" type="submit" name="action" value="new">
                      <i class="fas fa-plus-square" title="Add New Fitting"></i></button>
                  {% endif %}
                </div>

            </div><!-- row1 -->


            <div class="form" id="row2">
              <table class="table table-light">
                <tbody>
                  <tr>
                    <td class="noBorder text-center "><strong>High Slots</td>
                    <td class="noBorder text-center "><strong>Medium Slots</td>
                    <td class="noBorder text-center "><strong>Low Slots</td>
                  </tr>
                  <tr>
                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id > 0 %}
                          {% for n in range(1, num_highslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select name="hi{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsHigh %}
                                    {% if myFittingsHigh[n-1].component_id > 0 %}
                                      <option selected value="{{myFittingsHigh[n-1].component_id}}">{{myFittingsHigh[n-1].component}}</option>
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in high_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, num_medslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select name="med{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsMed %}
                                    {% if myFittingsMed[n-1].component_id > 0 %}
                                    <option selected value="{{myFittingsMed[n-1].component_id}}">{{myFittingsMed[n-1].component}}</option>
                                    {% else %}
                                    <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in med_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, num_lowslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select name="low{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsLow %}
                                    {% if myFittingsLow[n-1].component_id > 0 %}
                                    <option selected value="{{myFittingsLow[n-1].component_id}}">{{myFittingsLow[n-1].component}}</option>
                                    {% else %}
                                    <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in low_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td class="text-center "><strong>Rig Slots</td>
                    <td class="text-center "><strong>Ammo</td>
                    <td class="text-center "><strong>Drones</td>
                  </tr>

                  <tr>
                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, num_rigslots+1) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select name="rig{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsRig %}
                                    {% if myFittingsRig[n-1].component_id > 0 %}
                                    <option selected value="{{myFittingsRig[n-1].component_id}}">{{myFittingsRig[n-1].component}}</option>
                                    {% else %}
                                    <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in rig_modules %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>

                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, 6) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select name="ammo{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsAmmo %}
                                    {% if myFittingsAmmo[n-1].component_id > 0 %}
                                      <option selected value="{{myFittingsAmmo[n-1].component_id}}">{{myFittingsAmmo[n-1].component}}</option>
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in ammos %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                  <option value="0">--</option>
                                </select>
                              </td>
                              <td class="noBorder py-0 bg-white">
                                {% if myFittingsAmmo %}
                                  {% if myFittingsAmmo[n-1].component_id > 0 %}
                                    <input type="text" name="ammo_qty{{n}}" value="{{myFittingsAmmo[n-1].component_qty}}" size="1">
                                  {% else %}
                                    <input type="text" name="ammo_qty{{n}}" value="0" size="1">
                                  {% endif %}
                                {% else %}
                                  <input type="text" name="ammo_qty{{n}}" value="0" size="1">
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table class="table table-light">
                        <tbody>
                          {% if ship_id >0 %}
                          {% for n in range(1, 6) %}
                            <tr>
                              <td class="noBorder py-0 bg-white">
                                <select name="drone{{n}}" class="form-control form-control-sm" style="max-width: 400px;">
                                  {% if myFittingsDrone %}
                                    {% if myFittingsDrone[n-1].component_id > 0 %}
                                      <option selected value="{{myFittingsDrone[n-1].component_id}}">{{myFittingsDrone[n-1].component}}</option>
                                    {% else %}
                                      <option selected value="0">Choose...</option>
                                    {% endif %}
                                  {% else %}
                                    <option selected value="0">Choose...</option>
                                  {% endif %}
                                  {% for module in drones %}
                                    <option value="{{module.id}}">{{module.item}}</option>
                                  {% endfor %}
                                    <option value="0">--</option>
                                </select>
                              </td>
                              <td class="noBorder py-0 bg-white">
                                {% if myFittingsDrone %}
                                  {% if myFittingsDrone[n-1].component_id > 0 %}
                                    <input type="text" name="drone_qty{{n}}" value="{{myFittingsDrone[n-1].component_qty}}" size="1">
                                  {% else %}
                                    <input type="text" name="drone_qty{{n}}" value="0" size="1">
                                  {% endif %}
                                {% else %}
                                  <input type="text" name="drone_qty{{n}}" value="0" size="1">
                                {% endif %}
                              </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <input type="hidden" name="build_id" value="{{build_id}}">
                  </form>
                  <tr>
                    {% if myFittingsCount > 0 %}
                      <td class="text-center"><h4 class="text-danger"><strong>Cost of Production:</h4><h5>{{ "{:,.0f}".format(fittingCost) }}</td>
                      <td class="text-center"><h4 class="text-success"><strong>Contract Value:</h4><h5>{{ "{:,.0f}".format(myFittings[fittingIndex].qty * myFittings[fittingIndex].contract_sell_price) }}</td>
                      <td class="text-center"><h4 class="text-secondary"><strong>Profit Margin:</h4><h5> {{ "{:.2%}".format(fittingPM) }}</td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>

              <div class="row px-0" id="row1">
                <div class="col">
                  <ul class="list-group mb-1">
                    <li class="list-group-item d-flex justify-content-between lh-condensed py-0 bg-success">
                      <h4 class="mx-auto text-warning">Products to Purchase</h4>
                    </li>
                    <li class="list-group-item py-0">
                        <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col"></th>
                              <th scope="col">Material</th>
                              <th scope="col">QTY</th>
                              <th scope="col"><center>Jita Buy Price</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for item in nonBuildableFittings %}
                              <tr>
                                <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{ item.id }}_32.png"></th>
                                <td colspan="2">{{ item.component }}</td>
                                <td> {{ "{:,.0f}".format(item.component_qty * item.qty) }} </td>
                                <td><p class="mt-0 text-center">{{ "{:,.0f}".format(item.component_cost * item.qty * item.component_qty) }}</p></td>
                              </tr>
                              {% endfor %}
                              {% if nonBuildableFittings %}
                                {% for rig in rigRollup %}
                                  <tr>
                                    <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{rig.id}}_32.png"></th>
                                    <td colspan="2"><p class="mt-1">{{ rig.component }}</p></td>
                                    <td> {{ "{:,.0f}".format(rig.component_qty * nonBuildableFittings[0].qty) }} </td>
                                    <td><p class="mt-0 text-center">{{ "{:,.0f}".format(rig.component_cost * rig.component_qty * nonBuildableFittings[0].qty) }}</p></td>
                                  </tr>
                                  {% endfor %}
                                {% endif %}
                                <tr align="center">
                                  <td class="table-active" colspan="7"><h5>Commodity Total: {{ "{:,.0f}".format(nonBuildableTotal) }}</h5></td>
                                </tr>
                          </tbody>
                        </table>
                      </li>
                  </div> <!-- col -->

                  <div class="col">
                    <ul class="list-group mb-1">
                      <li class="list-group-item d-flex justify-content-between lh-condensed py-0 bg-success">
                        <h4 class="mx-auto text-warning">Buildable Products</h4>
                      </li>
                      <li class="list-group-item py-0">
                          <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Material</th>
                                <th scope="col">QTY</th>
                                <th scope="col"><center>Jita Buy Price</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in buildableFittings %}
                              <tr>
                                <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.id}}_32.png"></th>
                                <td colspan="2"><p class="mt-1">{{ item.component }}</p></td>
                                <td> {{ "{:,.0f}".format(item.component_qty * item.qty) }} </td>
                                <td><p class="mt-0 text-center">{{ "{:,.0f}".format(item.component_cost * item.qty * item.component_qty) }}</p></td>
                              </tr>
                              {% endfor %}
                              {% if buildableFittings %}
                                <tr>
                                  <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{buildableFittings[0].ship_id}}_32.png"></th>
                                  <td colspan="2"><p class="mt-1">{{ buildableFittings[0].ship_name }}</p></td>
                                  <td> {{ "{:,.0f}".format(buildableFittings[0].qty) }} </td>
                                  <td><p class="mt-0 text-center">{{ "{:,.0f}".format(buildableFittings[0].jita_buy * buildableFittings[0].qty ) }}</p></td>
                                </tr>
                                <tr align="center">
                                  <td class="table-active" colspan="7"><h5>Buildable Products Total: {{ "{:,.0f}".format(buildableTotal) }}</h5></td>
                                </tr>
                              {% endif %}
                            </tbody>
                          </table>
                      </li>
                    </div>
                  </div>

            </div><!-- row2 -->

        </div> <!-- col-12 -->
      </li>
    </ul>
  </div>
</div>


</div> <!-- main -->
{% endblock %}
