{% extends 'layout.html' %}
{% block body %}

<form action="{{ url_for('invent_selected')}}" method="POST">
  <div class="form-group row bg-secondary mb-1">
    <label for="invent_product" class="col-sm-3 col-form-label text-white text-right">Choose Product to Invent:</label>
    <div class="col-sm-5"> <!-- this increases or decreases selectbox size -->
      <select id="invent_product" name="invent_product" class="form-control" onChange="this.form.submit()">
        {% if bp_id > 0 %}
          <option value="{{selected_bp.id}}" selected>{{selected_bp.t2_blueprint}} </option>
        {% else %}
          <option value="0">Choose Blueprint... </option>
        {% endif %}
        {% for blueprint in blueprints %}
          <option value="{{blueprint.id}}">{{blueprint.t2_blueprint}} </option>
        {% endfor %}
      </select>
    </div>
  </form>
  <form action="{{ url_for('invent')}}">
    {% if bp_all %}
      <div class="form-check form-check-inline pt-2">
        <input class="form-check-input" type="radio" name="bp_collection" value="mine" onChange="this.form.submit()">
        <label class="form-check-label text-warning" for="buy">My Blueprints</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="bp_collection" value="all" checked>
        <label class="form-check-label text-white" for="build">All Blueprints</label>
      </div>
    {% else %}
      <div class="form-check form-check-inline pt-2">
        <input class="form-check-input" type="radio" name="bp_collection" value="mine" checked>
        <label class="form-check-label text-warning" for="buy">My Blueprints</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="bp_collection" value="all" onChange="this.form.submit()">
        <label class="form-check-label text-white" for="build">All Blueprints</label>
      </div>
    {% endif %}
  </div>
</form>

<div class="row" id="row2">

    <div class="col-sm-4">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="list-group">
          {% if bp_id > 0 %}
            <h5 class="my-0">{{product.typeName}}</h5>
          {% else %}
            <h5 class="my-0">Invent Something</h5>
          {% endif %}
        </div>

      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        {% if bp_id > 0 %}
          <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{product.typeID}}_64.png">
          <p class="text-right text-success">Jita Market Value: {{sell_median}} isk</p>
        {% else %}
          <img class="img-fluid max-width:auto" src="{{ url_for('static', filename='img/invent.png') }}">
        {% endif %}
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          {% if bp_id > 0 %}
            <h6 class="my-0">Description </h6>
          {% else %}
            <h6 class="my-0">Description </h6>
          {% endif %}
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          {% if bp_id > 0 %}
            <p class="py-0"><small>{{product.description}}</small></p>
          {% else %}
            <p><small>Your invented product description.</small></p>
          {% endif %}
        </div>
      </li>
    </ul>
   </div> <!-- col 3 -->


   <div class="col-sm-4">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div "col-sm">
          {% if bp_id > 0 %}
            <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{selected_bp.t2_id}}_64.png">
          {% else %}
            <img class="img-fluid max-width:auto" src="{{ url_for('static', filename='img/33_128_2.png') }}">
          {% endif %}
        </div>
        <div class="col-sm pt-1 mb-0">
          {% if bp_id > 0 %}
            <p> Success Probability: <strong>{{probability}}</strong> </p>
            <p> Invention Time: <strong>{{time}} hours</strong></p>
          {% else %}
            <p class="text-muted">Success Probability: --</p>
            <p class="text-muted">Invention Time: --</p>
          {% endif %}
        </div>
      </li>
      <!-- <div class="container-fluid"> -->
        <div class="">
          <form class="form" action="{{ url_for('invent_add_pipeline')}}" method="POST">
            <li class="list-group-item d-flex justify-content-between lh-condensed">

                <label for="job_runs" class="col-form-label text-black
pr-1"><strong>Runs:</strong></label>
                  <input type="text" class="form-control
text-center" id="job_runs" name="job_runs" value="{{runs}}"
style="width: 75px;">
                <!-- <div class="col pt-1 mr-4"> -->
                  {% if bp_id > 0 %}
                    <input name="add" class="btn-sm btn-info" type="submit" value="Add to Invention Pipeline">
                    <input type="hidden" name="bp_id" value="{{bp_id}}" id="bp_id">
                  {% else %}
                      <input name="add" class="btn-sm btn-info" type="submit" value="Add to Invention Pipeline">
                  {% endif %}
                </form>
              <!-- </div> <!-- Form group row -->
            </li>
	 <!-- </div> -->

        <!-- </div> <!-- col -->
        <!-- <div class="col-sm-12"> -->
          <li class="list-group-item d-flex justify-content-between lh-condensed">
           <!-- <div class="row"> -->
              {% if bp_id > 0 %}
                <p class="text-primary">Base Product: <strong>
{{baseProduct}}</strong></br></br>
              {% else %}
                <p class="text-primary">Base Product: --</br>
              {% endif %}

                {% if bp_id > 0 %}
                  {% for datacore in datacoreRequirements %}
                    {{datacore.datacore}}
<strong>x{{runs}}</strong></br></br>
                  {% endfor %}
                {% else %}
                  --</br>
                  --
                {% endif %}
              </p>
              <p class="font-weight-bold">
                Datacore Cost:
                {% if bp_id > 0 %}
                  {{"{:,.0f}".format(datacoresCost * runs)}} ISK
                {% else %}
                    --
                {% endif %}
              </p>
            <!-- </div> -->
          </li>
       <!-- </div> -->

     <!--  </div> <!-- row -->
    </ul>
  </div> <!-- col 6 -->

  <div class="col-sm">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed pb-0">
          <table class="table table-sm table-condensed table-hover table-responsive">
            <thead>
              <tr>
                <th scope="col" colspan="3"><strong>Product</th>
                <th scope="col"> </th>
                <th scope="col"><strong>Runs</th>
                <th scope="col"><strong>Action</th>
              </tr>
            </thead>
            <tbody>
              {% if 'myUser_id' in session %}

                {% for item in pipeline_products %}
                    <tr>
                      <form action="{{ url_for('invent')}}" method="post">
                      <td colspan="4"><a href="/invent_selected?invent_productName={{ item.product_name }}&runs={{item.runs}}">{{item.product_name}}</td>
                      <td><input type="text" class="form-control-sm py-0" size="1" name="runs" id="runs" value="{{item.runs}}"></td>
                      <td><div class="btn-group px-1">
                        <button class="btn btn-sm" type="submit" name="action" value="edit">
                          <i class="fas fa-pencil-alt"></i></button>
                        <button class="btn btn-sm" type="submit" name="action" value="delete">
                          <i class="fas fa-trash-alt"></i></button>
                        </div>
                      </td>
                      <input type="hidden" name="product_name" id="product_name" value="{{item.product_name}}">
                      </form>
                    </tr>
                {% endfor %}
              {% endif %}
          </table>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <table class="table table-sm table-condensed table-hover table-responsive pl-3">
            <thead>
              <tr>
                <th scope="col" colspan="2"><strong>Datacore</th>
                <th scope="col"><strong>QTY </th>
              </tr>
            </thead>
            <tbody>
              {% if 'myUser_id' in session %}
                {% for item in materialInPipeline %}
                <tr>
                  <td colspan="2">{{ item.datacore }}</td>
                  <td> {{ item.datacore_qty }} </td>
                </tr>
                {% endfor %}
              {% endif %}
            </table>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="mx-auto row">
            <p class="font-weight-bold mb-0">
              {% if 'myUser_id' in session %}
                Total Cost: {{ "{:,.0f}".format(materialCost) }} ISK
              {% else %}
                Total Cost:  --
              {% endif %}
            </p>
          </div>
        </form>
      </li>
    </ul>
   </div>

  </div> <!-- outer container -->

</div> <!-- row2 -->

{% endblock %}
