{% extends 'layout.html' %}
{% block body %}

<form action="{{ url_for('invent_selected')}}" method="POST">
  <div class="form-group row bg-secondary mb-1">
    <label for="invent_product" class="col-sm-3 col-form-label text-white text-right">Choose Product to Invent:</label>
    <div class="col-sm-5"> <!-- this increases or decreases selectbox size -->
      <select id="invent_product" name="invent_product" class="form-control" onChange="this.form.submit()">
        {% if bp_id > 0 %}
          <option value="{{selected_bp.id}}" selected>{{selected_bp.t2_blueprint}} </option>
        {% else %}
          <option value="0">Choose Blueprint... </option>
        {% endif %}
        {% for blueprint in blueprints %}
          <option value="{{blueprint.id}}">{{blueprint.t2_blueprint}} </option>
        {% endfor %}
      </select>
    </div>
  </div>
</form>

<div class="row" id="row2">
  <div class="col-3">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          {% if bp_id > 0 %}
            <h5 class="my-0">{{product.typeName}}</h5>
          {% else %}
            <h5 class="my-0">Invent Something</h5>
          {% endif %}
        </div>

      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        {% if bp_id > 0 %}
          <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{product.typeID}}_64.png">
          <p class="text-right text-success">Jita Market Value: {{sell_median}} isk</p>
        {% else %}
          <img class="img-fluid max-width:auto" src="{{ url_for('static', filename='img/invent.png') }}">
        {% endif %}
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          {% if bp_id > 0 %}
            <h6 class="my-0">Description: {{product.typeID}}</h6>
          {% else %}
            <h6 class="my-0">Description: </h6>
          {% endif %}
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          {% if bp_id > 0 %}
            <p class="py-0"><small>{{product.description}}</small></p>
          {% else %}
            <p><small>Your invented product description.</small></p>
          {% endif %}
        </div>
      </li>
    </ul>
  </div> <!-- col 3 -->


  <div class="col-5">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          {% if bp_id > 0 %}
            <img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{selected_bp.t2_id}}_64.png">
          {% else %}
            <img class="img-fluid max-width:auto" src="{{ url_for('static', filename='img/33_128_2.png') }}">
          {% endif %}
        </div>
        {% if bp_id > 0 %}
          <span class="text-muted">{{probability}} Success Probability for run</span>
        {% else %}
          <span class="text-muted">% Success Probability for run</span>
        {% endif %}
      </li>
      <div class="row">
        <div class="col-sm-12">
          <form action="" method="POST">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="form-group row">
                <label for="job_runs" class="col-sm-3 col-form-label text-black text-right">Job Runs:</label>
                <div class="col-sm-3"> <!-- this increases or decreases textbox size -->
                  <input type="text" class="form-control" id="job_runs" name="job_runs" value="20">
                </div>
                <div class="col pt-1 mb-2">
                  {% if bp_id > 0 %}
                    <p>Invention Time: <strong>{{time}} hours</strong></p>
                  {% else %}
                    <p>Invention Time: --</p>
                  {% endif %}
                </div>
                <div class="col pt-1 mb-2">
                  <input name="add" class="btn-sm btn-info" type="button" value="Add to Invention Pipeline">
                  <input name="del" class="btn-sm btn-danger" type="button" value="Delete from Pipeline">
                </div>
              </div> <!-- Form group row -->
            </li>
          </form>
        </div> <!-- col -->
        <div class="col-sm-12">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div class="row">
              {% if bp_id > 0 %}
                <p class="text-primary">Base Product: <strong> {{baseProduct}}</strong></br>
              {% else %}
                <p class="text-primary">Base Product: --</br>
              {% endif %}

                {% if bp_id > 0 %}
                  {% for datacore in datacores %}
                    {{datacore.datacore}}:<strong> {{datacore.quantity * 20}}</strong></br>
                  {% endfor %}
                {% else %}
                  --</br>
                  --
                {% endif %}
              </p>
              <p class="font-weight-bold">
                Datacore Cost:
                {% if bp_id > 0 %}
                  {{"{:,}".format(datacoresCost * 20)}} ISK
                {% else %}
                    --
                {% endif %}
              </p>
            </div>
          </li>
        </div>

      </div> <!-- row -->
    </ul>
  </div> <!-- col 6 -->

  <div class="col-4">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed py-2">
        <div>
          <h5 class="my-0 text-info">Invention Pipeline</h5>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed pb-0">
        <form>
          <table class="table table-sm table-condensed table-hover">
            <thead>
              <tr>
                <th scope="col"><small><strong>Product</th>
                <th scope="col"><small><strong>Runs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#" id="11203"><small>Atron</a></td>
                <td><input type="text" class="col-sm-4 form-control form-control-sm py-0" id="runs1" value="20"></td>
              </tr>
            </tbody>
            <tr>
              <td><a href="#" id="11203"><small>Crow</a></td>
              <td><input type="text" class="col-sm-4 form-control form-control-sm py-0" id="runs2" value="20"></td>
            </tr>
            <tr>
              <td><a href="#" id="11203"><small>Maeldiction</a></td>
              <td><input type="text" class="col-sm-4 form-control form-control-sm py-0" id="runs3" value="20"></td>
            </tr>
            <tr>
              <td><a href="#" id="11203"><small>Adaptive Invulnerability Field II</a></td>
              <td><input type="text" class="col-sm-4 form-control form-control-sm py-0" id="runs4" value="40"></td>
            </tr>
            <tr>
              <td><a href="#" id="11203"><small>10mn Afterburner II</a></td>
              <td><input type="text" class="col-sm-4 form-control form-control-sm py-0" id="runs5" value="40"></td>
            </tr>
            <tr>
              <td><a href="#" id="11203"><small>Damage Control II</a></td>
              <td><input type="text" class="col-sm-4 form-control form-control-sm py-0" id="runs6" value="40"></td>
            </tr>
          </table>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <p class="text-secondary my-0"><small>Datacore - Gallentean Starship Engineering:<strong> 80</strong></small></p>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <p class="text-secondary my-0"><small>Datacore - Gallentean Starship Engineering:<strong> 100</strong></small></p>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <p class="text-secondary my-0"><small>Datacore - Caldari Starship Engineering:<strong> 40</strong></small></p>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <p class="text-secondary my-0"><small>Datacore - Minmatar Starship Engineering:<strong> 80</strong></small></p>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <p class="text-secondary my-0"><small>Datacore - Electronic Engineering:<strong> 80</strong></small></p>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="row">
            <p class="font-weight-bold mb-0">
              Total Cost: 21,800,599 ISK
            </p>
          </div>
        </form>
      </li>
      <form>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div class="form-group row mx-auto">
            <input name="addbom" class="btn-sm btn-info" type="button" value="Add to B.O.M.">
          </div> <!-- Form group row -->
        </li>
      </form>
    </ul>
  </div> <!-- col 3 -->

</div> <!-- row2 -->

{% endblock %}
