{% extends 'layout.html' %}
{% block body %}

<div class="row px-0" id="row1">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary">
        <h3 class="mx-auto text-white">{{action}} Job Status for {{myDay}}</h3>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
          <table class="table table-sm table-condensed table-hover table-responsive pl-0">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Job Type</th>
                <th scope="col"><center>Status</th>
                <th scope="col"><center>Runs</th>
                <th scope="col"><center>Start Date</th>
                <th scope="col"><center>Finish Date</th>
                <th scope="col"><center>Job Cost</th>
              </tr>
            </thead>
            <tbody>
            {% if 'myUser_id' in session %}
              {% for jobx in myJobs %}
              <tr>
                <td scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{ jobx.product_id }}_64.png"></td>
                <td><p class="mt-1 px-2">{{ jobx.product_name }}</p></td>
                <td><p class="mt-1 px-2">{{ jobx.job_type }}</p></td>
                <td><p class="mt-1 px-2">{{ jobx.status }}</p></td>
                <td><p class="mt-1 px-2">{{ "{:,.0f}".format(jobx.runs) }}</p></td>
                <td><p class="mt-1 px-2">{{ jobx.start_date }}</p></td>
                <td><p class="mt-1 px-2">{{ jobx.finish_date }}</p></td>
                <td><p class="mt-1 px-2">{{ "{:,.0f}".format(jobx.job_cost) }}</p></td>
              </tr>
              {% endfor %}
            {% endif %}
            </tbody>
            </table>

      </li>

    </div>
  </div>


</div> <!-- main -->
{% endblock %}
