<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title>EVE Production Manager - By Frikkin Genius</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">

  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

  <style>
  body {
    background-image: url("{{ url_for('static', filename='img/29917.png') }}");
    background-color: #cccccc;
  }
  </style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

</head>

<body>
  {% include 'includes/_navbar.html' %}
  <div class="container">
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
  </div>
  {% include 'includes/_footer.html' %}

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
    <script>
    $(document).ready(function() { $("#ship").select2(); });
    {% for n in range(1, 9) %}
        $(document).ready(function() { $("#hi{{n}}").select2(); });
        $(document).ready(function() { $("#med{{n}}").select2(); });
        $(document).ready(function() { $("#low{{n}}").select2(); });
        $(document).ready(function() { $("#rig{{n}}").select2(); });
        $(document).ready(function() { $("#ammo{{n}}").select2(); });
        $(document).ready(function() { $("#drone{{n}}").select2(); });
    {% endfor %}
    </script>


  <script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
          if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
          } else {
              a[i].style.display = "none";
          }
      }
  }
  </script>
</body>
</html>
