{% extends 'layout_mining.html' %}
{% block body %}

<div class="row px-0" id="row1">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-danger">
        <h3 class="mx-auto text-white">Mining Calculator</h3>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="col text-center">
          <p class="text-muted">Mineral quantities reflect the net of the material on hand somewhere in your assets</p>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
        <div class="col-12">
          <table class="table table-light">
            <tbody>
              <tr>
                <form action="{{ url_for('mining')}}" method="post">
                <td class="noBorder text-right"><strong>Total M3 per Cycle:</td>
                <td class="noBorder">
                    {% if calcs[0].user_id  %}
                      <input type="text" class="col-sm-5 form-control form-control-sm py-0" name="m3_per_cycle" value="{{ calcs[0].m3_per_cycle }}">
                    {% else %}
                      <input type="text" class="col-sm-5 form-control form-control-sm py-0" name="m3_per_cycle" value="300">
                    {% endif %}
                </td>
                <td class="noBorder text-right"><strong>Refine%:</td>
                <td class="noBorder py-2">
                    {% if calcs[0].user_id  %}
                    <input type="text" class="col-sm-6 form-control form-control-sm pt-1" name="refinery" value="{{ "{:.2f}".format(calcs[0].refinery * 100) }}">
                  {% else %}
                    <input type="text" class="col-sm-6 form-control form-control-sm py-0" name="refinery" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-2 text-center"><strong>Total Mineral Requirement</td>
                <td class="noBorder py-2 text-center"><strong>Mined</td>
                <td class="noBorder py-2 text-center"><strong>Net</td>
              </tr>
              <tr>
                <td class="noBorder text-right py-0"><strong>Cycle Time:</td>
                <td class="noBorder py-0">
                    {% if calcs[0].user_id %}
                      <input type="text" class="col-sm-4 form-control form-control-sm py-0" name="cycle_time" value="{{ calcs[0].cycle_time }}">
                    {% else %}
                      <input type="text" class="col-sm-4 form-control form-control-sm py-0" name="cycle_time" value="120">
                    {% endif %}
                    </td>
                    <td class="noBorder py-1 text-right" colspan="2">Tritanium</td>
                    <td class="noBorder py-0">
                      {% if calcs[0].user_id %}
                        <input type="text" class="col-sm form-control form-control-sm py-0" name="trit_req" value="{{ "{:,.0f}".format(calcs[0].trit_required) }}">
                      {% else %}
                        <input type="text" class="col-sm form-control form-control-sm py-0" name="trit_req" value="0">
                      {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="trit_mined" value="{{ "{:,.0f}".format(mined_mins.trit) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="trit_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].trit_required - mined_mins.trit > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].trit_required - mined_mins.trit) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].trit_required - mined_mins.trit)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-right py-0"><strong># Cycles: </strong></br>Time to mine: </td>
                <td class="noBorder py-0">
                    {% if calcs[0].user_id %}
                      <input type="text" class="col-sm-4 form-control form-control-sm py-0" name="num_cycles" value="{{ "{:,.0f}".format(calcs[0].num_cycles) }}">
                      <strong>{{ "{:,.0f}".format((calcs[0].num_cycles * calcs[0].cycle_time)/60) }}</strong> minutes
                    {% else %}
                      <input type="text" class="col-sm-4 form-control form-control-sm py-0" name="num_cycles" value="30">
                    {% endif %}
                </td>

                <td class="noBorder py-1 text-right" colspan="2">Pyerite</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="pye_req" value="{{ "{:,.0f}".format(calcs[0].pye_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="pye_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="pye_mined" value="{{ "{:,.0f}".format(mined_mins.pye) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="pye_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].pye_required - mined_mins.pye > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].pye_required - mined_mins.pye) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].pye_required - mined_mins.pye)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-center py-0" colspan="2">
                  <input name="upd_yield" class="btn-sm btn-secondary mt-0" type="submit" value="Update Yield Stats">
                </td>
                </form>
                <td class="noBorder py-1 text-right" colspan="2">Mexallon</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="mex_req" value="{{ "{:,.0f}".format(calcs[0].mex_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="mex_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="mex_mined" value="{{ "{:,.0f}".format(mined_mins.mex) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="mex_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].mex_required - mined_mins.mex > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].mex_required - mined_mins.mex) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].mex_required - mined_mins.mex)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-center text-white pt-1 bg-danger" colspan="2"><strong>Asteroid Targets</td>
                <td class="noBorder py-1 text-right" colspan="2">Isogen</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="iso_req" value="{{ "{:,.0f}".format(calcs[0].iso_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="iso_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="iso_mined" value="{{ "{:,.0f}".format(mined_mins.iso) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="iso_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].iso_required - mined_mins.iso > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].iso_required - mined_mins.iso) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].iso_required - mined_mins.iso)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-right py-0">
                  <select id="asteroid_groups" class="form-control form-control-sm" onchange="groupChange(this);">
                    <option value="empty">Asteroid Group... </option>
                    {% for group in asteroid_groups %}
                      {% if group_id1 == group.id %}
                        <option selected value="{{group.group}}">{{group.group}}</option>
                      {% else %}
                        <option value="{{group.group}}">{{group.group}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td class="noBorder py-0">
                  <form action="{{ url_for('mining')}}" method="post">
                  <select name="asteroid" id="asteroid" class="form-control form-control-sm" onChange="this.form.submit()" style="width:180px;">
                    {% if min_id1 %}
                      <option selected value="{{ min_id1 }}">{{ asteroid_name1 }}</option>
                    {% else %}
                      <option value="0">Asteroid...</option>
                    {% endif %}
                  </select>

                </td>
                <td class="noBorder py-0 text-right" colspan="2">Nocxium</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="nox_req" value="{{ "{:,.0f}".format(calcs[0].nox_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="nox_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="nox_mined" value="{{ "{:,.0f}".format(mined_mins.nox) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="nox_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].nox_required - mined_mins.nox > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].nox_required - mined_mins.nox) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].nox_required - mined_mins.nox)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-right py-0">
                  <select id="asteroid_groups1" class="form-control form-control-sm" onchange="groupChange1(this);">
                    <option value="empty">Asteroid Group... </option>
                    {% for group in asteroid_groups %}
                      {% if group_id2 == group.id %}
                        <option selected value="{{group.group}}">{{group.group}}</option>
                      {% else %}
                        <option value="{{group.group}}">{{group.group}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td class="noBorder py-0">
                  <select name="asteroid1" id="asteroid1" class="form-control form-control-sm" onChange="this.form.submit()">
                    {% if min_id2 %}
                      <option selected value="{{ min_id2 }}">{{ asteroid_name2 }}</option>
                    {% else %}
                      <option value="0">Asteroid...</option>
                    {% endif %}
                  </select>
                </td>
                <td class="noBorder py-0 text-right" colspan="2">Zydrine</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="zyd_req" value="{{ "{:,.0f}".format(calcs[0].zyd_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="zyd_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="zyd_mined" value="{{ "{:,.0f}".format(mined_mins.zyd) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="zyd_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].zyd_required - mined_mins.zyd > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].zyd_required - mined_mins.zyd) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].zyd_required - mined_mins.zyd)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-right py-0">
                  <select id="asteroid_groups2" class="form-control form-control-sm" onchange="groupChange2(this);">
                    <option value="empty">Asteroid Group... </option>
                    {% for group in asteroid_groups %}
                      {% if group_id3 == group.id %}
                        <option selected value="{{group.group}}">{{group.group}}</option>
                      {% else %}
                        <option value="{{group.group}}">{{group.group}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td class="noBorder py-0">
                  <select name="asteroid2" id="asteroid2" class="form-control form-control-sm" onChange="this.form.submit()">
                    {% if min_id3 %}
                      <option selected value="{{ min_id3 }}">{{ asteroid_name3 }}</option>
                    {% else %}
                      <option value="0">Asteroid...</option>
                    {% endif %}
                  </select>
                </td>
                <td class="noBorder py-0 text-right" colspan="2">Megacyte</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="meg_req" value="{{ "{:,.0f}".format(calcs[0].meg_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="meg_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="meg_mined" value="{{ "{:,.0f}".format(mined_mins.meg) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="meg_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].meg_required - mined_mins.meg > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].meg_required - mined_mins.meg) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].meg_required - mined_mins.meg)|abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>
              <tr>
                <td class="noBorder text-right py-0">
                  <select id="asteroid_groups3" class="form-control form-control-sm" onchange="groupChange3(this);">
                    <option value="empty">Asteroid Group... </option>
                    {% for group in asteroid_groups %}
                      {% if group_id4 == group.id %}
                        <option selected value="{{group.group}}">{{group.group}}</option>
                      {% else %}
                        <option value="{{group.group}}">{{group.group}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td class="noBorder py-0">
                  <select name="asteroid3" id="asteroid3" class="form-control form-control-sm" onChange="this.form.submit()">
                    {% if min_id4 %}
                      <option selected value="{{ min_id4 }}">{{ asteroid_name4 }}</option>
                    {% else %}
                      <option value="0">Asteroid...</option>
                    {% endif %}
                  </select>
                  </form>
                </td>
                <td class="noBorder py-0 text-right" colspan="2">Morphite</td>
                <td class="noBorder py-0">
                  {% if calcs[0].user_id %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="morp_req" value="{{ "{:,.0f}".format(calcs[0].morph_required) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="morp_req" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="morph_mined" value="{{ "{:,.0f}".format(mined_mins.morph) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" name="morph_mined" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0">
                  {% if mined_mins %}
                    {% if calcs[0].morph_required - mined_mins.morph > 0 %}
                      <p class="text-danger"><strong>-{{ "{:,.0f}".format(calcs[0].morph_required - mined_mins.morph) }}</p>
                    {% else %}
                      <p class="text-primary"><strong>+{{ "{:,.0f}".format((calcs[0].morph_required - mined_mins.morph) | abs) }}</p>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Atmospheric Gases</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.atmo_gas) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Cadmium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.cadmium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Caesium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.caesium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Chromium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.chromium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Cobalt</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.cobalt) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Dysprosium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.dysprosium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Evaporite Deposits</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.evap_dep) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Hafnium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.hafnium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Hydrocarbons</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.hydrocarbons) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Mercury</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.mercury) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Neodymium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.neodymium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Platinum</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.platinum) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Promethium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.promethium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Scandium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.scandium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Silicates</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.silicates) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Technetium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.technetium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Thulium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.thulium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Titanium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.titanium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Tungsten</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.tungsten) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td class="noBorder text-right py-0"></td>
                <td class="noBorder py-0"> </td>
                <td class="noBorder py-0 text-right" colspan="2">Vanadium</td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0">
                  {% if mined_moons %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="{{ "{:,.0f}".format(mined_moons.vanadium) }}">
                  {% else %}
                    <input type="text" class="col-sm form-control form-control-sm py-0" value="0">
                  {% endif %}
                </td>
                <td class="noBorder py-0"></td>
                <td class="noBorder py-0"></td>
              </tr>

              <tr>
                <td colspan="4"></td>
                <form action="{{ url_for('mining')}}" method="post">
                  <td class="noBorder text-center py-2" colspan="4">
                    <input name="upd_yield" class="btn-sm btn-success mt-0" type="submit" value="Clear Requirements">
                  </td>
                  <input type="hidden" name="clear" value="1">
                </form>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
          <h5 class="text-center col-sm-12 text-primary">
            Ore Distribution Chart
          </h5>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <img src="{{ url_for('static', filename='img/mining_chart.png') }}" class="img-fluid mx-auto" alt="Ore Chart" width="1000">
      </li>

      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <h5 class="text-center col-sm-12 text-primary">
          Moon Ore Distribution Chart
        </h5>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <img src="{{ url_for('static', filename='img/moon_ores.png') }}" class="img-fluid mx-auto" alt="Ore Chart" width="1000">
    </li>
    </ul>
  </div>
</div>


</div> <!-- main -->
{% endblock %}
