{% extends 'layout.html' %}
{% block body %}

<div class="row px-0" id="row1">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary">
        <h3 class="mx-auto text-white">Production Pipeline</h3>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
        <form>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col"><center>Status</th>
                <th scope="col"><center>QTY</th>
                <th scope="col"><center>Local Sell Price</th>
                <th scope="col"><center>Total Value</th>
                <th scope="col"><center>Prod Cost (ea)</th>
                <th scope="col"><center>PM %</th>
                <th scope="col"><center>Jita Sell Price</th>
              </tr>
            </thead>
            <tbody>
              {% if 'myUser_id' in session %}
                {% for item in inv_pipeline %}
                <form action="{{ url_for('pipeline')}}" method="POST">
                <tr>
                  <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.blueprint_id}}_64.png"></th>
                  <td><p class="mt-1">{{ item.product_name }}</p></td>
                  <td>
                    <select name="pipeline_select" id="pipeline_select" class="form-control text-center" style="width:160px;">
                      <option value="1">On Market</option>
                      <option value="2">Being Built</option>
                      <option value="3" selected>Being Invented</option>
                    </select>
                    <input name="del1" class="btn-sm btn-danger" type="button" value="Delete">
                  </td>
                  <td><p class="mt-1 text-center"><input type="text" class="form-control text-center" size="3" id="qty" value="1"></p></td>
                  <td>
                    <input type="text" class="form-control text-center" size="10" id="local_sell">
                  </td>
                  <td><p class="mt-1 text-center">--</p></td>
                  <td><p class="mt-1 text-center">--</p></td>
                  <td><p class="mt-1 text-center text-primary"><strong>--</strong></p></td>
                  <td><p class="mt-1 text-center">--</p></td>
                </tr>
              </form>
              {% endfor %}
              {% for item in bld_pipeline %}
                <form action="{{ url_for('pipeline')}}" method="POST">
                <tr>
                  <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.product_id}}_64.png"></th>
                  <td><p class="mt-1">{{ item.product_name }}</p></td>
                  <td>
                    <select name="pipeline_select" id="pipeline_select" class="form-control text-center" style="width:160px;">
                      <option value="1">On Market</option>
                      <option value="2" selected>Being Built</option>
                      <option value="3">Being Invented</option>
                    </select>
                    <input name="del1" class="btn-sm btn-danger" type="button" value="Delete">
                  </td>
                  <td><p class="mt-1 text-center"><input type="text" class="form-control text-center" size="3" id="qty" value="{{ item.runs }}"></p></td>
                  <td>
                    <input type="text" class="form-control text-center" size="10" id="local_sell">
                  </td>
                  <td><p class="mt-1 text-center">--</p></td>
                  <td><p class="mt-1 text-center">--</p></td>
                  <td><p class="mt-1 text-center text-primary"><strong>--</strong></p></td>
                  <td><p class="mt-1 text-center">--</p></td>
                </tr>
              </form>
            {% endfor %}
            {% endif %}
              <form action="{{ url_for('pipeline')}}" method="POST">
              <tr>
                <td colspan="2"><select id="build_product" name="build_product" class="form-control" style="width:300px;" onChange="this.form.submit()">
                      <option selected value="new"> -- Add To Pipeline --</option>
                  {% for blueprint in blueprints %}
                      <option value="{{blueprint.id}}">{{blueprint.t2_blueprint}} </option>
                  {% endfor %}
                </td>
                <td>
                  <select name="pipeline_select" id="pipeline_select" class="form-control text-center" style="width:160px;">
                    <option value="0" selected>Future Build</option>
                    <option value="1">On Market</option>
                    <option value="2">Being Built</option>
                    <option value="3">Being Invented</option>
                  </select>
                </td>
                <td><p class="mt-1 text-center"><input type="text" class="form-control text-center" size="3" id="qty" value="1"></p></td>
                <td>
                  <input type="text" class="form-control text-center" size="10" id="local_sell">
                </td>
                <td><p class="mt-1 text-center">--</p></td>
                <td><p class="mt-1 text-center">--</p></td>
                <td><p class="mt-1 text-center text-primary"><strong>--</strong></p></td>
                <td><p class="mt-1 text-center">--</p></td>
              </tr>
            </form>
            </tbody>
          </table>
        </form>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
          <h5 class="text-center col-sm-12">
            Total Pipeline Value: 6,919,800,101 ISK
          </h5>
      </li>
    </div>
  </div>


</div> <!-- main -->
{% endblock %}
