{% extends 'layout.html' %}
{% block body %}

<div class="row px-0" id="row1">
  <div class="col-sm-12">
    <ul class="list-group mb-auto">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-success">
        <h3 class="mx-auto text-white">{{report_type}} Report</h3>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed p-1">
        <div class="col-12">
            <table class="table table-striped">
              <form action="/{{report_type|lower}}" method="post">
              <tbody>
                <tr class="text-center">
                  <td class="text-right text-secondary noBorder"><h4>Date Range:</td>
                  <td class="text-left noBorder text-secondary"><strong><h4>{{range_start}}</strong> to <strong>{{range_end}}</strong>

                      <button class="btn btn" type="submit" name="action" value="prev">
                      <i class="fas fa-angle-left" title="Previous Month"></i></button> -

                      <button class="btn btn" type="submit" name="action" value="next">
                      <i class="fas fa-angle-right" title="Next Month"></i></button>
                      <input type="hidden" name="range_start" value="{{range_start}}">
                      <input type="hidden" name="range_end" value="{{range_end}}">
                  </td>
                  <tr><h4 class="text-center col-sm-12 text-success">
                      Total {{report_type}} for Month: <p class="text-primary"> {{"{:,.0f}".format(grand_total) }} ISK
                  </tr>
                </tbody>
                </form>
              </table>
              <table class="table table-sm table-condensed table-hover table-responsive pl-0">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"><h4>Product</th>
                    <th scope="col"><h4><center>QTY</th>
                    <th scope="col"><h4><center>Sale Price</th>
                    <th scope="col"><h4><center>Total Sale</th>
                    <th scope="col"><h4><center>Transaction Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% if 'myUser_id' in session %}
                    {% for item in mySales %}
                    <tr>
                      <th scope="row"><img class="img-fluid max-width:auto" src="https://images.evetech.net/types/{{item.type_id}}/icon"></th>
                      <td><p class="mt-1"><h5>{{ item.product_name }}</p></td>
                      <td><p class="mt-1"><h5><center>{{ "{:,.0f}".format(item.qty) }}</p></td>
                      <td><p class="mt-1"><h5><center>{{ "{:,.0f}".format(item.amount) }}</p></td>
                      <td><p class="mt-1"><h5><center>{{ "{:,.0f}".format(item.qty * item.amount) }}</p></td>
                      <td><p class="mt-1"><h5><center>{{ item.date_transaction }}</p></td>
                    </tr>

                  {% endfor %}
                {% endif %}

                </tbody>
              </table>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
