{% extends 'layout.html' %}
{% block body %}

<div class="row px-0" id="row0">
  <div class="col">
    <ul class="list-group mb-0">
      <li class="list-group-item d-flex justify-content-between lh-condensed bg-secondary">
        <h3 class="mx-auto text-white">Bill Of Materials Total:<a class="text-warning"> {{ "{:,.0f}".format(bom_total) }} ISK</a></h3> &nbsp;
        <h3 class="mx-auto text-white">m3 Total:<a class="text-warning"> {{ "{:,.0f}".format(total_volume) }} </a></h3>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div class="col text-center">
          <a class="btn btn-primary" href="/fetch_assets">Fetch Current Assets On Hand</a></br>
          <form class="form" action="{{ url_for('bom')}}" method="POST">
          <div class="form-check form-check-inline">
            {% if subtract_oh_assets =='true'%}
              <input class="form-check-input" type="checkbox" name="subtract_oh_assets" id="subtract_oh_assets" value="false" onChange="this.form.submit()" checked>
            {% else %}
              <input class="form-check-input" type="checkbox" name="subtract_oh_assets" id="subtract_oh_assets" value="true" onChange="this.form.submit()">
            {% endif %}
            <label class="form-check-label" for="subtract_oh_assets">Subtract on-hand assets</label>
          </div>
        </form>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row px-0" id="row1">
  <div class="col">
    <ul class="list-group mb-1">
      <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
        <h4 class="mx-auto">Datacores</h4>
      </li>
      <li class="list-group-item py-0">
          <table class="table table-sm table-condensed table-hover table-responsive pl-3">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Material</th>
                <th scope="col">QTY</th>
                <th scope="col"><center>Jita Buy Price</th>
                <th scope="col"><center>m3</th>
              </tr>
            </thead>
            <tbody>
              {% if 'myUser_id' in session %}
                {% for item in datacoresInPipeline %}
                <tr>
                  <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{ item.datacore_id }}_32.png"></th>
                  <td colspan="2">{{ item.datacore }}</td>
                  {% if item.datacore_qty > 0 %}
                    <td> {{ "{:,.0f}".format(item.datacore_qty) }} </td>
                    <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.datacore_cost * item.runs) }}</p></td>
                    <td><p class="mt-1 text-center"> {{ (item.datacore_vol * item.datacore_qty) }}</p> </td>
                  {% else %}
                    <td><p class="mt-1 text-center">0</p></td>
                    <td><p class="mt-1 text-center">0</p></td>
                    <td><p class="mt-1 text-center">0</p></td>
                  {% endif %}
                </tr>
                {% endfor %}
                <tr align="center">
                  <td class="table-active" colspan="5"><h5>Datacore Total: {{ "{:,.0f}".format(dc_total) }}</h5></td>
                  <td class="table-active"><h5>{{ "{:,.0f}".format(vol_total) }}</h5></td>
                </tr>
              {% endif %}
            </tbody>
          </table>
    </div> <!-- col -->

    <div class="col">
      <ul class="list-group mb-1">
        <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
          <h4 class="mx-auto">Planetary Commodities</h4>
        </li>
        <li class="list-group-item py-0">
            <table class="table table-sm table-condensed table-hover table-responsive pl-3">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col" colspan="2">Material</th>
                  <th scope="col">QTY</th>
                  <th scope="col"><center>Jita Buy Price</th>
                  <th scope="col"><center>m3</th>
                </tr>
              </thead>
              <tbody>
                {% if 'myUser_id' in session %}
                  {% for item in planetaryInPipeline %}
                <tr>
                  <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.material_id}}_32.png"></th>
                  <td colspan="3"><p class="mt-2">{{ item.material }}</p></td>
                  <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_qty )  }}</p></td>
                  <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_cost) }}</p></td>
                  <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_vol * item.material_qty) }}</p> </td>
                </tr>
                {% endfor %}
                <tr align="center">
                  <td class="table-active" colspan="6"><h5>Planetary Commodities Total: {{ "{:,.0f}".format(planet_total) }}</h5></td>
                  <td class="table-active"><h5>{{ "{:,.0f}".format(planet_vol_total) }}</h5></td>
                </tr>
                {% endif %}
              </tbody>
            </table>
        </li>
      </div> <!-- col -->

  </div> <!-- row1 -->

  <div class="row px-0" id="row2">
    <div class="col">
      <ul class="list-group mb-1">
        <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
          <h4 class="mx-auto">Advanced Components</h4>
          <form action="{{ url_for('bom')}}" method="POST">
            <div class="form-check form-check-inline pt-1">
              <input class="form-check-input" type="radio" name="build_or_buy_all" value="buy" onChange="this.form.submit()">
              <label class="form-check-label" for="buy">Buy All</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="build_or_buy_all" value="build" onChange="this.form.submit()">
              <label class="form-check-label" for="build">Build All</label>
            </div>
        </form>
        </li>
        <li class="list-group-item py-0">
            <table class="table table-sm table-condensed table-hover table-responsive pl-3">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Material</th>
                  <th scope="col">QTY</th>
                  <th scope="col">Jita Buy Price</th>
                  <th scope="col">Option</th>
                  <th scope="col"><center>m3</th>
                </tr>
              </thead>
              <tbody>
                {% if 'myUser_id' in session %}
                  {% for item in componentInPipeline %}
                  <form action="{{ url_for('bom')}}" method="POST">
                <tr>
                  <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.material_id}}_64.png"></th>
                  <td colspan="2"><p class="mt-1">{{ item.material }}</p></td>
                  <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_qty )  }}</p></td>
                  <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_cost ) }}</p></td>
                  <td>
                    <div class="form-check form-check-inline">
                      {% if item.build_or_buy == 0 %}
                        <input class="form-check-input" type="radio" name="build_or_buy" value="buy" checked>
                        <label class="form-check-label" for="buy">Buy</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="build_or_buy" value="build" onChange="this.form.submit()">
                        <label class="form-check-label" for="build">Build</label>
                      {% else %}
                        <input class="form-check-input" type="radio" name="build_or_buy" value="buy" onChange="this.form.submit()">
                        <label class="form-check-label" for="buy">Buy</label>
                      </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="build_or_buy" value="build" checked>
                          <label class="form-check-label" for="build">Build</label>
                        </div>
                      {% endif %}
                  </td>
                  <td><p class="mt-1 text-center"> {{ "{:,.0f}".format(item.material_vol * item.material_qty) }}</p> </td>
                </tr>
                <input type="hidden" name="material_id" value="{{ item.material_id }}">
              </form>
                {% endfor %}
                <tr align="center">
                  <td class="table-active" colspan="6"><h5>Advanced Components Total: {{ "{:,.0f}".format(component_total) }}</h5></td>
                  <td class="table-active"><h5>{{ "{:,.0f}".format(component_vol_total) }}</h5></td>
                </tr>
                {% endif %}
              </tbody>
            </table>
        </li>
      </div> <!-- col -->
      <div class="col">
        <ul class="list-group mb-1">
          <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
            <h4 class="mx-auto">Component Materials</h4>
          </li>
          <li class="list-group-item py-0">
              <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" colspan="2">Material</th>
                    <th scope="col">QTY</th>
                    <th scope="col"><center>Jita Buy Price</th>
                    <th scope="col"><center>m3</th>
                  </tr>
                </thead>
                <tbody>
                  {% if 'myUser_id' in session %}
                    {% for item in materialInPipeline %}
                    <tr>
                      <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.material_id}}_32.png"></th>
                      <td colspan="3"><p class="mt-2">{{ item.material }}</p></td>
                      <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_qty)  }}</p></td>
                      <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_cost) }}</p></td>
                      <td><p class="mt-1 text-center"> {{ "{:,.0f}".format(item.material_vol * item.material_qty) }}</p> </td>
                    </tr>
                    {% endfor %}
                    <tr align="center">
                      <td class="table-active" colspan="6"><h5>Component Material Total: {{ "{:,.0f}".format(material_total) }}</h5></td>
                      <td class="table-active" colspan="1"><h5>{{ "{:,.0f}".format(material_vol_total) }}</h5></td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
          </li>

        </div> <!-- col -->
    </div> <!-- row2 -->

    <div class="row px-0" id="row3">
      <div class="col">
        <ul class="list-group mb-1">
          <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
            <h4 class="mx-auto">Tech I Products</h4>
            <form action="{{ url_for('bom')}}" method="POST">
              <div class="form-check form-check-inline pt-1">
                <input class="form-check-input" type="radio" name="build_or_buy_all_t1" value="buy" onChange="this.form.submit()">
                <label class="form-check-label" for="buy">Buy All</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="build_or_buy_all_t1" value="build" onChange="this.form.submit()">
                <label class="form-check-label" for="build">Build All</label>
              </div>
          </form>
          </li>
          <li class="list-group-item py-0">
                <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Material</th>
                    <th scope="col">QTY</th>
                    <th scope="col"><center>Jita Buy Price</th>
                    <th scope="col">Option</th>
                    <th scope="col"><center>m3</th>
                  </tr>
                </thead>
                <tbody>
                  {% if 'myUser_id' in session %}
                    {% for item in tech1InPipeline %}
                    <form action="{{ url_for('bom')}}" method="POST">
                  <tr>
                    <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.material_id}}_64.png"></th>
                    <td colspan="2"><p class="mt-1">{{ item.material }}</p></td>
                    <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_qty )  }}</p></td>
                    <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_cost) }}</p></td>
                    <td>
                      <div class="form-check form-check-inline">
                        {% if item.build_or_buy == 0 %}
                          <input class="form-check-input" type="radio" name="build_or_buy" value="buy" checked>
                          <label class="form-check-label" for="buy">Buy</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="build_or_buy" value="build" onChange="this.form.submit()">
                          <label class="form-check-label" for="build">Build</label>
                        {% else %}
                          <input class="form-check-input" type="radio" name="build_or_buy" value="buy" onChange="this.form.submit()">
                          <label class="form-check-label" for="buy">Buy</label>
                        </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="build_or_buy" value="build" checked>
                            <label class="form-check-label" for="build">Build</label>
                        {% endif %}
                    </td>
                    <td><p class="mt-1 text-center"> {{ "{:,.0f}".format(item.material_vol * item.material_qty) }}</p> </td>
                  </tr>
                  <input type="hidden" name="material_id" value="{{ item.material_id }}">
                </form>
                {% endfor %}
                  <tr align="center">
                    <td class="table-active" colspan="6"><h5>Tech 1 Total: {{ "{:,.0f}".format(tech1_total) }}</h5></td>
                    <td class="table-active" colspan="1"><h5>{{ "{:,.0f}".format(tech1_vol_total) }}</h5></td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
          </li>
        </div> <!-- col -->
        <div class="col">
          <ul class="list-group mb-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
              <h4 class="mx-auto">R.A.M. Tools</h4>
            </li>
            <li class="list-group-item py-0">
                <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th colspan="2" scope="col">Material</th>
                      <th scope="col">QTY</th>
                      <th scope="col"><center>Jita Buy Price</th>
                      <th scope="col">Option</th>
                      <th scope="col"><center>m3</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if 'myUser_id' in session %}
                      {% for item in ramInPipeline %}
                      <form action="{{ url_for('bom')}}" method="POST">
                    <tr>
                      <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.material_id}}_32.png"></th>
                      <td colspan="3"><p class="mt-1">{{ item.material }}</p></td>
                      <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_qty )  }}</p></td>
                      <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_cost ) }}</p></td>
                      <td>
                        <div class="form-check form-check-inline">
                          {% if item.build_or_buy == 0 %}
                            <input class="form-check-input" type="radio" name="build_or_buy" value="buy" checked>
                            <label class="form-check-label" for="buy">Buy</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="build_or_buy" value="build" onChange="this.form.submit()">
                            <label class="form-check-label" for="build">Build</label>
                          {% else %}
                            <input class="form-check-input" type="radio" name="build_or_buy" value="buy" onChange="this.form.submit()">
                            <label class="form-check-label" for="buy">Buy</label>
                          </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="build_or_buy" value="build" checked>
                              <label class="form-check-label" for="build">Build</label>
                          {% endif %}
                      </td>
                      <td><p class="mt-1 text-center"> {{ "{:,.0f}".format(item.material_vol * item.material_qty ) }}</p> </td>
                    </tr>
                    <input type="hidden" name="material_id" value="{{ item.material_id }}">
                  </form>
                  {% endfor %}
                    <tr align="center">
                      <td class="table-active" colspan="7"><h5>R.A.M. Total: {{ "{:,.0f}".format(ram_total) }}</h5></td>
                      <td class="table-active" colspan="1"><h5>{{ "{:,.0f}".format(ram_vol_total) }}</h5></td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
            </li>

          </div> <!-- col -->
      </div> <!-- row3 -->
      
      <div class="row px-0" id="row4">
          <div class="col">
            <ul class="list-group mb-1">
              <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
                <h4 class="mx-auto">Salvage Material</h4>
              </li>
              <li class="list-group-item py-0">
                  <table class="table table-sm table-condensed table-hover table-responsive pl-3">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" colspan="2">Material</th>
                        <th scope="col">QTY</th>
                        <th scope="col"><center>Jita Buy Price</th>
                        <th scope="col"><center>m3</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if 'myUser_id' in session %}
                        {% for item in salvageInPipeline %}
                      <tr>
                        <th scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/{{item.material_id}}_32.png"></th>
                        <td colspan="3"><p class="mt-2">{{ item.material }}</p></td>
                        <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_qty )  }}</p></td>
                        <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_cost) }}</p></td>
                        <td><p class="mt-1 text-center">{{ "{:,.0f}".format(item.material_vol * item.material_qty) }}</p> </td>
                      </tr>
                      {% endfor %}
                      <tr align="center">
                        <td class="table-active" colspan="6"><h5>Planetary Commodities Total: {{ "{:,.0f}".format(salvage_total) }}</h5></td>
                        <td class="table-active"><h5>{{ "{:,.0f}".format(salvage_vol_total) }}</h5></td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
              </li>
              
            </ul>
          </div>
          <div class="col">
              <ul class="list-group mb-1">
                <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
                  <h4 class="mx-auto"> - - </h4>
                </li>
              </ul>
            </div>
      </div>

      <div class="row px-0" id="row5">
        <div class="col">
          <ul class="list-group mb-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed py-0 text-primary">
              <h4 class="mx-auto">Minerals</h4>
            </li>
            <li class="list-group-item py-0">
                <table class="table table-hover table-xlg pl-1">
                  <thead>
                    <tr>
		                  <th></th>
                      <th colspan="2" scope="col">Tritanium</th>
                      <th colspan="2" scope="col">Pyerite</th>
                      <th colspan="2" scope="col">Mexallon</th>
                      <th colspan="2" scope="col">Isogen</th>
                      <th colspan="2" scope="col">Nocxium</th>
                      <th colspan="2" scope="col">Zydrine</th>
                      <th colspan="2" scope="col">Megacyte</th>
                      <th colspan="2" scope="col">Morphite</th>
                      <th></th>
		                </tr>
                  </thead>
                  <tbody>
                    <tr>
		                  <th></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/34_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/35_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/36_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/37_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/38_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/39_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/40_64.png"></th>
                      <th colspan="2" scope="row"><img class="img-fluid max-width:auto" src="https://imageserver.eveonline.com/type/11399_64.png"></th>
                      <th></th>
		                </tr>
                    <tr>
                      <th></th>
                    {% if 'myUser_id' in session %}
                    {% set mine_or_buy = namespace(c=0) %}
                      {% for index in range(0,8,1) %}
                        <td colspan="2"><p class="pl-3">
                        {% for item in mineralInPipeline %}
                          {% if item.build_or_buy == 1 %}{% set mine_or_buy.c=1 %}{% endif %}
                          {% if item.material_id == 34 and index == 0 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 35 and index == 1 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 36 and index == 2 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 37 and index == 3 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 38 and index == 4 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 39 and index == 5 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 40 and index == 6 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty) }}</p>
                          {% endif %}
                          {% if item.material_id == 11399 and index == 7 %}
                            <p class="pl-3">{{ "{:,.0f}".format(item.material_qty ) }}</p>
                           {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </td>
                      <th></th>
                    </tr>
                    <tr>
                      <td colspan="18"><center>
                        <form action="{{ url_for('bom')}}" method="POST">
                              {% if mine_or_buy.c == 1%}
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="mine_or_buy" value="buy" onChange="this.form.submit()">
                                  <label class="form-check-label" for="buy">Buy the Minerals</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="mine_or_buy" value="mine" checked>
                                  <label class="form-check-label" for="mine">Mine my own Minerals</label>
                                </div>
                            {% else %}
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="mine_or_buy" value="buy" checked>
                                  <label class="form-check-label" for="buy">Buy the Minerals</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="mine_or_buy" value="mine" onChange="this.form.submit()">
                                  <label class="form-check-label" for="mine">Mine my own Minerals</label>
                                </div>
                            {% endif %}
                      </td>
                    </tr>
                      <tr align="center">
                        <td colspan="18"><input name="add_mining" class="btn-sm btn-info" type="submit" value="Send to Mining Calculator"></td>
                      </tr>
                    </form>
                    <tr align="center">
                      <td class="table-active" colspan="16"><h5>Mineral Jita Buy Value Total: {{ "{:,.0f}".format(mineral_total) }}</h5></td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
            </li>
          </ul>
        </div> <!-- col -->
      </div> <!-- row4 -->
{% endblock %}
